@font-face {
  font-family: "Chalk";
  src: url("../fonts/Chalk-Regular.ttf");
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/chamber.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
}

canvas {
  display: none;
  z-index: -1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

#dark {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: none;
  animation: fadeOut 5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

#beginning {
  display: flex;
  justify-content: center;
  background-image: url("../images/paper.png");
  background-size: 100%;
  width: 400px;
  height: 100px;
  position: absolute;
  bottom: 350px;
  left: 430px;
}

#reveal-btn {
  font-size: 20pt;
  color: rgb(255, 0, 0);
  width: 120px;
  height: 50px;
  cursor: pointer;
  border-color: #f5ca74;
  background-image: url("../images/paper.png");
  background-position: 500px;
  margin-top: 15px;
  text-align: center;
}

#welcome {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  background-image: url("../images/paper.png");
  background-size: 100%;
  width: 500px;
  height: 720px;
  margin: 20px 0;
  text-align: center;
}
.intro-text {
  color: black;
  font-size: 17pt;
  padding: 80px 90px;
}
.intro-text h4 {
  font-size: 16pt;
}
#enter-btn {
  display: none;
  justify-content: center;
  padding-top: 10px;
  width: 200px;
  height: 60px;
  font-family: "Chalk";
  font-size: 40pt;
  font-weight: bold;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-color: #0e4124;
  border-radius: 5px;
  background-image: url("../images/paper.png");
  background-position: 500px;
}

#game-content {
  display: none;
  flex-direction: column;
}

.heading {
  color: #ff0000;
  text-shadow: 2px 2px rgb(0, 58, 1);
  margin-bottom: 80px;
  text-align: center;
  font-family: cursive, sans-serif;
}
.heading h2 {
  font-size: 35pt;
  margin: 40px 0 0 0;
}
.heading h4 {
  margin: 0;
  font-size: 35pt;
}

#timeremaining {
  color: white;
  font-size: 20pt;
  width: 250px;
  padding: 10px;
  position: absolute;
  right: 30px;
  top: 30px;
  display: none;
}

#timeremainingvalue {
  margin-left: 10px;
}

.position {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.figure-1 {
  position: fixed;
  left: 0;
  bottom: 70px;
  z-index: 4;
}
.activity-field {
  border: #0e4124;
  border-width: 7px;
  border-style: solid;
  border-radius: 5px;
  background-image: url("../images/tafel.jpg");
  color: #fff;
  margin-top: 20px;
  margin-bottom: 70px;
  font-family: "Chalk", cursive;
  max-width: 800px;
}
.figure-2 {
  position: fixed;
  bottom: 20px;
  right: 0;
  z-index: 4;
}

.bubble-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px 30px 80px;
}
.bubble {
  position: relative;
  font-family: sans-serif;
  font-size: 15pt;
  line-height: 25px;
  width: 150px;
  background: #fff;
  border-radius: 25px;
  padding: 25px;
  text-align: center;
  color: #ff0000;
  font-weight: bold;
  background-color: gold;
}
.bubble-bottom:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid gold;
  border-right: 12px solid transparent;
  border-top: 12px solid gold;
  border-bottom: 20px solid transparent;
  right: 32px;
  bottom: -24px;
}

#canvas-board {
  position: absolute;
  top: 0;
}

.level-section {
  display: flex;
}

#level {
  color: #fcfcfc;
  margin-left: 20px;
  font-size: 30pt;
}
#level-text {
  padding-top: 50px;

  font-size: 30pt;
}
#chances {
  font-size: 30pt;
  margin-left: 90px;
}

#score {
  color: #fcfcfc;
  margin-left: 130px;
  margin-right: 20px;
  font-size: 30pt;
}
#question {
  height: 150px;
  font-size: 40pt;
  text-align: center;
  color: white;
  margin: 20px;
}
#question-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#choices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20pt;
}

.box {
  width: 130px;
  height: 60px;
  background-color: rgb(132, 126, 126);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 30pt;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.box:hover,
#startreset:hoover {
  background-color: #9c89f6;
  color: white;
  box-shadow: 0px 4px #6b54d3;
  -webkit-box-shadow: 0px 4px #6b54d3;
  -moz-box-shadow: 0px 4px #6b54d3;
}
.box:active,
#startreset:active {
  box-shadow: 0px 0px #6b54d3;
  -moz-box-shadow: 0px 0px #6b54d3;
  -webkit-box-shadow: 0px 0px #6b54d3;
  top: 4px;
}

#startreset {
  width: 200px;
  padding: 10px;
  font-size: 20pt;
  background-color: rgba(38, 151, 65, 0.5);
  margin: 50px auto;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  position: relative;
  text-shadow: 2px 2px black;
}

.footer {
  font-size: 10pt;
  color: rgba(255, 255, 255, 0.5);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: black;
  z-index: 98;
}
.banner {
  text-align: center;
}
.banner img {
  height: 60px;
}
.disclaimer {
  display: none;
}
#disclaimer-open-btn,
#disclaimer-close-btn {
  font-size: 15pt;
  color: rgb(139, 124, 124);
  width: 160px;
  height: 30px;
  cursor: pointer;
  border-color: #9d9b96;
  background-color: black;
  text-align: center;
  display: inherit;
  border-color: #050505;
  background-image: url("../images/tafel.jpg");
  background-position: 500px;
}
#disclaimer-close-btn {
  display: none;
}

#game-over {
  font-size: 50pt;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-color: red;
  z-index: 2;
  display: none;
}
