@font-face {
  font-family: "CustomFont";
  src: url(../fonts/Chalk-Regular.ttf);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url("../images/hall.WEBP");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px 20px;
  display: none;
}
.intro {
  background-image: url("../images/paper.png");
  background-size: 100%;
  width: 500px;
  height: 720px;
  margin: 50px 0;
}
.intro-text {
  color: #d11e15;
  font-size: 25pt;
  text-align: center;
  padding: 70px 90px;
}
.intro-text h4 {
  text-align: left;
  font-size: 20pt;
}

#game-content {
  display: flex;
  flex-direction: column;
}
#start-btn {
  font-size: 25pt;
  color: #d11e15;
  width: 400px;
  height: 100px;
  cursor: pointer;
  padding: 20px;
  border-color: #0e4124;
  border-radius: 0.3em;
  background-image: url("../images/paper.png");
  background-position: 500px;
}

.heading {
  font-size: 30pt;
  color: #d11e15;
  margin: 0;
  text-align: center;
  font-family: cursive, sans-serif;
}
.heading h2 {
  margin: 40px 0 0 0;
}
.heading h4 {
  font-size: 30pt;
  margin: 0;
}

.position {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.figure-1 {
  position: fixed;
  left: 0;
  bottom: 70px;
}
.activity-field {
  border: #0e4124;
  border-width: 7px;
  border-style: solid;
  border-radius: 5px;
  background-image: url("../images/tafel.avif");
  color: #fff;
  margin-top: 20px;
  margin-bottom: 70px;
  font-family: "CustomFont", cursive;
  max-width: 800px;
}
.figure-2 {
  position: fixed;
  bottom: 20px;
  right: 0;
}

.bubble-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 20px 50px 20px;
}
.bubble {
  position: relative;
  font-family: sans-serif;
  font-size: 15pt;
  line-height: 25px;
  width: 150px;
  background: #fff;
  border-radius: 30px;
  padding: 30px;
  text-align: center;
  color: green;
  font-weight: bold;
  background-color: gold;
}
.bubble-bottom:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid gold;
  border-right: 12px solid transparent;
  border-top: 12px solid gold;
  border-bottom: 20px solid transparent;
  right: 32px;
  bottom: -24px;
}

#canvas-board {
  position: absolute;
  top: 0;
}
#score {
  color: #fcfcfc;
  padding: 11px;
  margin-left: 450px;
  margin-right: 20px;
  font-size: 30pt;
}
#question {
  width: 550px;
  height: 150px;
  font-size: 40pt;
  text-align: center;
  color: white;
  margin: 40px 40px 40px 40px;
}
#choices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20pt;
}

.box {
  width: 150px;
  height: 60px;
  background-color: rgb(132, 126, 126);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 30pt;
  text-align: center;
  color: white;
}
.box:hover,
#startreset:hoover {
  background-color: #9c89f6;
  color: white;
  box-shadow: 0px 4px #6b54d3;
  -webkit-box-shadow: 0px 4px #6b54d3;
  -moz-box-shadow: 0px 4px #6b54d3;
}
.box:active,
#startreset:active {
  box-shadow: 0px 0px #6b54d3;
  -moz-box-shadow: 0px 0px #6b54d3;
  -webkit-box-shadow: 0px 0px #6b54d3;
  top: 4px;
}

#startreset {
  width: 200px;
  padding: 10px;
  font-size: 20pt;
  background-color: rgba(38, 151, 65, 0.5);
  margin: 50px auto;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.footer {
  font-size: 10pt;
  color: rgba(255, 255, 255, 0.5);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: left;
  background-color: black;
}
.banner {
  text-align: center;
}
.banner img {
  height: 70px;
}
